body {
	background-color: #092d09;
}

.canvasHolder {    
    width:800px;
    margin: auto;
    border: 3px solid 092d09;
    background: url("http://www.pixeljoint.com/files/icons/full/background__r172093591.gif");
}
