@font-face {
  font-family: arcadeClassic;
  src: url("../fonts/ARCADECLASSIC.TTF"); }

div#loginForm {
  position: absolute;
  top: 270px;
  left: 300px;
  width: 680px;
  padding: 40px 0;
  background: rgba(93, 126, 66, 0.5);
  z-index: 1; }
  div#loginForm .formText {
    color: #ffd9ad;
    font-family: arcadeClassic;
    font-size: 24px;
    text-shadow: 1px 1px 2px #6f2210;
    text-align: center;
    margin-top: 25px; }
  div#loginForm button {
    background: transparent;
    border: none;
    font-size: 26px;
    position: relative;
    top: 3px; }
  div#loginForm form {
    text-align: center; }

div#interactionBlocker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent; }
